main.main .record {
    height: 265px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    &.error {
        height: 190px;
    }
    .info {
        font-size: 12px;
        margin-top: 5px;
        color: #1E3D58;
    }
}

main.main .panel.error {
    padding: 10px;
    font-family: 'Roboto';
    font-size: 14px;
    color: #1E3D58;
    cursor: pointer;
    text-align: center;
    div {
        padding: 10px;
        box-shadow: 1px 1px 7px 1px #c4c4c4;
        border-radius: 2px;
        background: #f44336;
        color: white;
    }
}

main.main .record .btn {
    width: 125px;
    height: 125px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    i {
        color: #057DCD;
        font-size: 42px;
        display: inline;
        position: absolute;
    }
    &.disabled {
        cursor: not-allowed;
        filter: grayscale(1);
    }
}

main.main .record .label {
    padding-top: 10px;
    font-size: 16px;
}

main.main .record.on .btn i {
    color: #ef5350;
}

main.main .transcription-history .content {
    height: 250px;
    border-radius: 4px;
    border: solid 2px #43B0F1;
    padding: 5px;
    font-family: 'Roboto';
    overflow-y: auto;
    .phrase {
        font-size: 12px;
        min-height: 28px;
        display: flex;
        padding: 8px;
        align-items: center;
        background-color: #F9F9F9;
        color: #1E3D58;
        margin-bottom: 15px;
        border-radius: 5px;
        text-decoration: none;
        &.final {
            background-color: #E4E4E4;
        }
        &.recognized {
            background-color: #43B0F1;
            color: white;
            font-size: 14px;
            position: relative;
            cursor: pointer;
            i {
                position: absolute;
                right: 10px;
                font-size: 18px;
            }
        }
        &.help {
            display: block;
        }
    }
}

main.main .debug, main.main .transcription-history {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    label {
        font-family: 'Roboto';
        color: #1E3D58;
        display: block;
        font-size: 14px;
        padding-left: 1px;
        margin-bottom: 8px;
        span {
            margin-left: 5px;
        }
        i {
            font-size: 16px;
        }
    }
}

main.main .debug label {
    display: block;
    margin-bottom: 5px;
}

main.main .debug .transcription-text {
    border: solid 1px #c8c8c8;
    padding: 5px;
    height: 45px;
    border-radius: 3px;
}

main.main .debug {
    button {
        margin-top: 10px;
    }
}

#modal .modal-content.lost-connection {
    max-height: 470px;
    font-size: 14px;
    .wrapper .body ul {
        margin-top: 10px;
        li {
            font-size: 14px;
            margin-bottom: 10px;
            line-height: 1.5;
        }
    }
}