body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

nav#top-nav .config {
    display: none;
}

main.about {
    padding: 0 35px;
    font-family: Roboto;
    display: flex;

    .content {
        flex: 0.52;
    }

    .pic {
        flex: 0.48;
        img {
            margin-top: 50px;
            max-width: 100%;
        }
        figcaption {
            text-align: center;
            color: #2f2f2f;
            font-size: 14px;
        }
    }

    .main-title {
        margin-block-end: 21px;
        margin-block-start: 21px;
        h1, h1, h3 {
            margin: 0px;
        }
        div {
            color: #646464;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            margin-top: 5px;
        }
    }

    @media only screen and (max-width: 900px) {
        display: block;
        figure {
            margin: 0;
        }

        .pic {
            margin-bottom: 25px;
        }
    }
}