#top-nav {
    height: 65px;
    background-color: #7e57c2;
    padding: 0 35px;
    display: flex;
    font-family: 'Roboto';
    figure {
        margin: 0px;
        margin-right: 25px;
        padding: 0px;
        display: flex;
        align-items: center; 
    }
    & > a, .language, .config {
        display: flex;
        font-size: 18px;
        font-weight: 400;
        //background-color: red;
        text-decoration: none;
        height: 100%;
        padding: 0px 10px;
        color: white;
        align-items: center;
        &:not(:last-child) {
            margin-right: 15px;
        }

        &.selected {
            background-color: #704dac
        }
    }
    .language, .config {
        font-size: 14px;
        margin-left: 15px;
        a {
            color: white;
            text-decoration: none;
            &.selected {
                font-weight: bold;
                text-decoration: underline;
                font-size: 16px;
            }
        }
        .help {
            margin-left: 10px;
            font-size: 18px;
        }
    }

    .config {
        margin-left: 0px;
        margin-right: 0px;
    }

    .custom-tooltip.tooltip-header {
        max-width: 230px;
    }

    @media only screen and (max-width: 900px) {
        & {
            height: 40px;
            padding: 0 10px;
            overflow: auto;

            figure {
                margin-right: 5px;
            }

            figure img {
                height: 30px;
            }

            & > a, .language {
                font-size: 14px;
                padding: 0px 8px;

                &:not(:last-child) {
                    margin-right: 5px;
                }
        
                &.selected {
                    background-color: #704dac
                }
            }

            .language {
                font-size: 12px;
                margin-left: 0px;
                padding-right: 0px;
                a {
                    width: 36px;
                    &.selected {
                        font-size: 12px;
                    }
                }
            }

            .config {
                margin-left: 0px;
                margin-right: 0px !important;

                &, a {
                    font-size: 12px;
                }
                a.selected {
                    font-size: 12px;
                }
                .help {
                    margin-left: 5px;
                    font-size: 14px;
                }
            }
        }
    }
}